.pagination {
  display: grid;
  grid-template-columns: repeat(21, 40px);
  gap: 11px;
  margin: 2rem 0rem;

  button {
    height: 40px;
    padding: 5px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #009879;
    border-radius: 6px;
    border: solid 2px #009879;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
#active {
  background: #009879;
  color: #fff;
}