.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;

  button {
    width: 40px;
    height: 40px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #fff;
    color: #009879;
    border: solid 2px #009879;
  }
}
#active {
  background: #009879;
  color: #fff;
}