@import "../../mixins/vars";

.pagination {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem auto;

  button {
    width: 30px;
    padding: 5px;
    font-weight: 600;
    font-size: 16px;
    color: $green;
    border-radius: 6px;
    border: solid 2px $green;
    background: $white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
#active {
  background: $green;
  color: $white;
}