@import "../../mixins/vars";

.home{
  width: 70%;
  margin: 0 auto;
  overflow: scroll;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: $green;
    color: $white;
    text-align: left;
  }
  tbody tr {
    border-bottom: 1px solid $grey;
    &:last-of-type {
      border-bottom: 2px solid $green;
    }
  }
  th, td {
    padding: 12px 15px;
    text-align: center;
  }
  @media screen and (max-width: 1024px) {
    font-size: 10px;
  }
}

tr:hover{
  background-color: $grey;
}
tr:nth-of-type(even) {
  background-color: $even;
  &:hover{
    background-color: $grey;
  }
}