.styled-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  tbody tr {
    border-bottom: 1px solid #dddddd;
    &:last-of-type {
      border-bottom: 2px solid #009879;
    }
  }
  th, td {
    padding: 12px 15px;
    text-align: center;
  }
}

tr:hover{
  background-color: #dddddd;
}
tr:nth-of-type(even) {
  background-color: #f3f3f3;
  &:hover{
    background-color: #dddddd;
  }
}

select{
  border: 2px solid #009879;
  padding: 5px;
}
#availability{
  width: 71%;
  border-color: black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;

  &-visible{
    display: none;
  }

  &-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;

    p {
      margin-bottom: 20px;
    }

    &-buttons {
display: flex;
      justify-content: space-between;
      width: 100%;
      button {
        margin-left: 10px;      

      }
    }
  }

  .cancel-button {
    background-color: #ccc;
    color: #000;
  }

  .delete-button {
    background-color: #f44336;
    color: #fff;
  }
}
