@import "../../mixins/flex";
@import "../../mixins/vars";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  @include flex-all-center;

  &-visible{
    display: none;
  }
  &-buttons {
    @include flex-all-sb;
  }
  &-content {
    padding: 20px;
    background-color: $white;
    border-radius: 5px;

    p {
      margin-bottom: 20px;
    }
  }

  .cancel-button {
    background-color: $grey;
    color: $black;
  }

  .delete-button {
    background-color: $red;
    color: $white;
  }
}
